<%= simple_form_for @reserva, :html => { :class => 'form-vertical' } do |f| %>
  <div>
    
      <%= f.input :nome %>
      <%= f.input :telefone %>
      <%= f.input :email %>
      <%= f.input :dia %>
      <%= f.input :horario %>

  </div>
  
     <%= f.button :submit, :class => 'btn-primary' %>
     <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reservas_path, :class => 'btn btn-default' %>
<% end %>
  <div>
    

  </div>
  
